/* Căn chỉnh và định dạng tổng thể */

.invitation-content {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.message-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* Tăng khoảng cách giữa message-form và message-list */
}

.message-form,
.message-list {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    .message-section {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .message-form,
    .message-list {
        flex: 1;
    }
}

.invitation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    background-image: linear-gradient(rgba(235, 96, 172, 0.295), rgba(255, 255, 255, 0.297)), url('../../assets/MINH6589.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.invitation-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.header .title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}