<div class="invitation-container">
    <div class="invitation-content">
        <div class="header">
            <h1 class="title">{{ 'GRADUATION.TITLE' | translate }}</h1>
            <h2 class="university-name text-uppercase">{{ 'GRADUATION.STUDENT_NAME' | translate }}</h2>
        </div>
        
        <div class="message">
            <p>{{ 'GRADUATION.INVITATION' | translate }}</p>
        </div>

        <div class="details">
            <p><strong>Thời gian:</strong> 00:00, Ngày 00 tháng 00 năm 0000</p>
            <p><strong>Địa điểm:</strong> Khách sạn White Lotus, Số 05 - 07 Hoàng hoa thám, Tp Huế</p>
        </div>

        <div class="countdown">
            <div class="countdown-item">
                <div class="countdown-circle">{{days || '00'}}</div>
                <span>Ngày</span>
            </div>
            <div class="countdown-item">
                <div class="countdown-circle">{{hours || '00'}}</div>
                <span>Giờ</span>
            </div>
            <div class="countdown-item">
                <div class="countdown-circle">{{minutes || '00'}}</div>
                <span>Phút</span>
            </div>
            <div class="countdown-item">
                <div class="countdown-circle">{{seconds || '00'}}</div>
                <span>Giây</span>
            </div>
        </div>
    </div>
</div>